.pw-tbx {
    font-size: 24px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 10px;
    font-family: TheDeadSaloon;
    border-radius: 5px;
}

.pw-tbx-empty {
    background-color: #aaaaaa;
}

.table-create-btn {
    margin-right: 10px;
}