.karte {
    /* margin: 0px 5px; */
    border-radius: 10px;
    cursor: pointer;
}

.karte img {
    /* max-width:100%;
    max-height:100%;
    height: 100%; */
    height: 140px;
    border-radius: 5px;
}

.disabled {
    cursor: not-allowed;
}

.karte>div {
    background-color: #fff;
    height: 140px;
    border-radius: 5px;
    display: inline-block;
}

.disabled img {
    /*filter: sepia(1)*/
    opacity: 0.6;
}

.karte-empty img {
    height: 140px;
    width: 76px;
    border-radius: 10px;
}