.karte {
    /* margin: 0px 5px; */
    border-radius: 10px;
    cursor: pointer;
}

.karte img {
    height: 140px;
    border-radius: 5px;
    user-select: none;
}

.disabled {
    cursor: not-allowed;
}

.karte>div {
    background-color: #fff;
    height: 140px;
    width: 76px;
    border-radius: 5px;
    display: inline-block;
    user-select: none;

    /* shadow: */
    -webkit-box-shadow: -5px 5px 10px -5px rgba(85,85,85,0.7);
    -moz-box-shadow: -5px 5px 10px -5px rgba(85,85,85,0.7);
    box-shadow: -5px 5px 10px -5px rgba(85,85,85,0.7);
}

.karte > div > div {
    background-size: auto 100%;
    height: 140px;
    width: 76px;
    border-radius: 5px;
}

.disabled > div > div {
    /*filter: sepia(1)*/
    opacity: 0.6;

    pointer-events: none;
}

.karte-empty img {
    height: 140px;
    width: 76px;
    border-radius: 10px;
    pointer-events: none;
}

@media only screen and (max-width: 800px) {
    .karte img {
        height: 90px;
    }
    .karte>div {
        background-color: #fff;
        height: 90px;
        width: 50px;
        user-select: none;
    }
    .karte > div > div {
        height: 90px;
        width: 50px;
        user-select: none;
    }
    .karte-empty img {
        height: 90px;
        width: 50px;
    }
}