.runde-ct {
    max-width: 800px;
    margin: 30px auto 0px auto;
    padding: 20px;
    background-color: #136600;
    border-radius: 20px;

    background-color: #8b5a2b;
    background-image: url("../texture/dark-wood.png");

    -webkit-box-shadow: 0px 0px 25px 10px rgba(68,68,68,0.7);
    -moz-box-shadow: 0px 0px 25px 10px rgba(68,68,68,0.7);
    box-shadow: 0px 0px 25px 10px rgba(68,68,68,0.7);
}

.runde-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.runde-middle {
    display: flex;
    justify-content: center;
}

.runde-middle > * {
    width: 100%;
    display: flex;
    justify-content: center;
}

.action-ct {
    margin-bottom: -100px;
    display: table-caption;
}

.action-ct > div {
    margin-bottom: 5px;
}

.trumpf-ct {
    padding: 10px;
    border: solid 2px #093300;
    background-color: #ddd;
    display: inline-flex;
    border-radius: 100px;
}

.trumpf-ct>img {
    height: 40px;
    pointer-events: none;
}

.peek-btn {
    border: solid 2px #093300;
    background-color: #ddd;
    border-radius: 100px;
    display: inline-flex;
    font-size: 35px;
    height: 60px;
    width: 60px;
    justify-content: center;
    cursor: grab;
}

.peek-btn:hover {
    background-color: #67d1eb;
}

.runde-playername {
    font-family: TheDeadSaloon;
    font-size: 24px;
}

.runde-weiscall {
    font-family: TheDeadSaloon;
    font-size: 16px;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}


@media only screen and (max-width: 800px) {
    .runde-ct {
        padding: 10px;
    }
    .trumpf-ct {
        padding: 7px;
    }
    .trumpf-ct>img {
        height: 30px;
    }
    .peek-btn{
        height: 44px;
        width: 44px;
        font-size: 26px;
        user-select: none;
    }
    .peek-btn:hover {
        background-color: #ddd;
    }
    .runde-top {
        margin-top: -10px;
    }
    .runde-top br {
        display: none;
    }
}