.table-ct {

    padding: 15px;
    background-color: #136600;
    border-radius: 20px;


    background-color: #8b5a2b;
    background-image: url("../texture/dark-wood.png");
    box-shadow: 0px 0px 15px
}

.table-row {
    display: flex;
    justify-content: space-between;
}

.table-ct .table-row:first-of-type {
    border-bottom: solid #000 3px;
}

.table-row > div {
    width: 100%;
    padding: 3% 0px;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.table-ct .table-row div:first-of-type {
    border-right: solid #000 3px;
}

.table-name {
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 0px 0px 3px #ccc;
}

.table-ct-rnd {
    padding: 15px;
    background-color: #136600;
    border-radius: 20px;


    background-color: #8b5a2b;
    background-image: url("../texture/dark-wood.png");
    box-shadow: 0px 0px 15px;

}

.table-rnd-player-ct {
    display: flex;
    justify-content: space-between;
}

.table-rnd-player{

}

@media only screen and (max-width: 800px) {
    .table-ct {
        padding: 10px;
        border-radius: 15px;
    }
    .table-row > div {
        font-size: 16px;
        text-align: center;
    }
}