.weis-window {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #ddd; */
    border: 3px solid #000;
    border-radius: 20px;
    padding: 30px;
    z-index: 1100;

    background-color: #67d1eb;
    background-image: url(../texture/diagmonds.png);

    -webkit-box-shadow: 0px 0px 25px 10px rgba(68,68,68,0.7);
    -moz-box-shadow: 0px 0px 25px 10px rgba(68,68,68,0.7);
    box-shadow: 0px 0px 25px 10px rgba(68,68,68,0.7);
}

.weis-resolve {
    display: flex;
    flex-direction: row;
}

.weis-resolve > div {
    margin-right: 50px;
    display: flex;
    flex-direction: row;
}

.weis-resolve > div > div {
    margin-right: -25px;
}