.app-logout {
    position: absolute;
    display: flex;
    justify-content: end;
    top: 15px;
    right: 15px;    
}

.top-banner-down-btn {
    background-color: #ccc;
    border-radius: 0px 0px 10px 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: inline;
    margin-right: 30px;
    transition: ease 0.3s;
    text-align: center;
}

.top-banner-down-btn:hover {
    font-size: 18px;
}

.top-banner {
    transition: ease 0.5s;
    padding: 5px 10px;
    background-color: #ccc;
    border-radius: 0px 0px 10px 10px;
    height: 50px;
    margin-top: -60px;
    box-shadow: 0px 0px 10px;
    display: flex;
    justify-content: space-between;
}

.top-banner > * {
    height: fit-content;
}

.logo {
    text-decoration: none;
    display: table;
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}
.logo:visited {
    color: #000;
}
.logo > * {
    display: table-cell;
    vertical-align: middle;
}

.logo img {
    height: 30px;
    margin-right: 5px;
}

.howto {
    color: blue;
}
.howto:visited {
    text-decoration: none;
    color: blue;
}

.top-banner .jass-btn {
    font-size: 16px;
    margin-top: 5px;
    margin-left: 10px;
    box-shadow: 0px 0px 5px;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 800px) {
    .top-banner {
        display: block;
        height: 100%;
    }
    .top-banner > div {
        margin-top: 5px;
    }
    .top-banner > div > * {
        margin-left: 0px !important;
        margin-right: 10px;
    }
}