body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: Rocky;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color:#0E4D00; */

  background-color: #008c00;
  background-image: url("texture/black-felt.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin: 0px auto 0px auto;
  width: 100%;
  max-width: 800px;
  user-select: none;
}

@font-face {
  font-family: JoeJack;
  src: url(font/JoeJack.ttf);
}

@font-face {
  font-family: TheDeadSaloon;
  src: url(font/thedeadsaloon-Regular.ttf);
}

@font-face {
  font-family: Rocky;
  /*src: url(font/Rocky-Regular.ttf);*/
  src: url(font/Typewriter.ttf);
}

@font-face {
  font-family: Typewriter;
  src: url(font/Typewriter.ttf);
}

.jass-btn {
  font-family: Rocky;
  background-color: #ddd;
  border-radius: 5px;
  font-size: 24px;
  display: inline-block;
  padding: 5px 20px;
  box-shadow: 0px 0px 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.jass-btn:hover {
  background-color: #ccc;
}

.jass-btn:active{
  background-color: #aaa;
  box-shadow: #777 0px 0px 0px;
}

#weisBtn {
  margin-top: 30px;
}


/* App Views */
@media only screen and (max-width: 1048px) {
  #root {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 800px) {
  #root {
    overflow-x: hidden;
  }
  .jass-btn {
    font-size: 16px;
  }
  #weisBtn {
    margin: 10px
  }
}