.tablepage {
    margin-top: 30px;
}

.tables-ct {
    margin-top: 30px;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.table-ct-ct {
    width: 250px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.news-ct {
    font-family: Typewriter;
    background-color: #ddd;
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px;
}

.news-ct > div {
    display: flex;
    margin-bottom: 10px;
}

.news-ct > div > div:first-child {
    margin-right: 10px;
    width: 25px;
    text-align: center;
}